tmp/**
*.zip
data/**
sft_mistral/results/**
sft_mistral/wandb/**
json/**
sft_mistral/final_result/**
sft_mistral/merged_model/**
sft_mistral/mistralai-Code-Instruct-Finetune-test/**
sft_mistral/outputs/**
